@import 'normalize.css';
@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans:400,700,400italic&subset=latin,latin-ext);

/*! BRICKst v1.0.0 | GNU GPL License | allienworks.net */


// ------ GENERAL & CONFIG ------ //

// Colors
$primary: #4374b7;
$secondary: #DCDDDE;
$success: #98C807;
$alert: #D13814;
$warning: #EF9421;
$black: #202020;
$white: #fff;

// Breakpoints
$mediumBreak: 64.063rem;
$smallBreak: 40.063rem;

// Grid
$rowWidth: 64rem;
$gutterWidth: 1.5rem;

// UI
$borderRadius: 4px;


* { box-sizing: border-box; }
html { font-size: 16px; }
body { font-family: "Alegreya Sans", sans-serif; cursor: default; }
a { text-decoration: none; color: $primary; }
a:hover { color: $primary - #222; }




// ------ GRID ------ //

.row {
	max-width: $rowWidth; margin: 0 auto;
	&:after { clear: both; content: " "; display: table; }
	&.expand { max-width: 100%; }
	&.collapse .column,
	&.collapse .columns { padding: 0; }
}
.column,
.columns {
	float: left;
	width: 100%; padding: 0 $gutterWidth;
	&.end { float: right; }
}

// Large Grid
.large-11 { width: 1px / 1.09px * 100% }
.large-10 { width: 1px / 1.2px * 100% }
.large-9 { width: 1px / 1.33px * 100% }
.large-8 { width: 1px / 1.5px * 100% }
.large-7 { width: 1px / 1.71px * 100% }
.large-6 { width: 1px / 2px * 100%; }
.large-5 { width: 1px / 2.4px * 100%; }
.large-4 { width: 1px / 3px * 100%; }
.large-3 { width: 1px / 4px * 100%; }
.large-2 { width: 1px / 6px * 100%; }
.large-1 { width: 1px / 12px * 100%; }

// Medium Grid
@media only screen and (max-width: $mediumBreak) {
	.large-1, .large-2, .large-3, .large-4, .large-5, .large-6, .large-7, .large-8, .large-9, .large-10, .large-11, .large-12 { width: 100%; }
	.medium-11 { width: 1px / 1.09px * 100% }
	.medium-10 { width: 1px / 1.2px * 100% }
	.medium-9 { width: 1px / 1.33px * 100% }
	.medium-8 { width: 1px / 1.5px * 100% }
	.medium-7 { width: 1px / 1.71px * 100% }
	.medium-6 { width: 1px / 2px * 100%; }
	.medium-5 { width: 1px / 2.4px * 100%; }
	.medium-4 { width: 1px / 3px * 100%; }
	.medium-3 { width: 1px / 4px * 100%; }
	.medium-2 { width: 1px / 6px * 100%; }
	.medium-1 { width: 1px / 12px * 100%; }
}

// Small Grid
@media only screen and (max-width: $smallBreak) {
	.medium-1, .medium-2, .medium-3, .medium-4, .medium-5, .medium-6, .medium-7, .medium-8, .medium-9, .medium-10, .medium-11, .medium-12 { width: 100%; }
	.small-11 { width: 1px / 1.09px * 100% }
	.small-10 { width: 1px / 1.2px * 100% }
	.small-9 { width: 1px / 1.33px * 100% }
	.small-8 { width: 1px / 1.5px * 100% }
	.small-7 { width: 1px / 1.71px * 100% }
	.small-6 { width: 1px / 2px * 100%; }
	.small-5 { width: 1px / 2.4px * 100%; }
	.small-4 { width: 1px / 3px * 100%; }
	.small-3 { width: 1px / 4px * 100%; }
	.small-2 { width: 1px / 6px * 100%; }
	.small-1 { width: 1px / 12px * 100%; }
}


// ------ RESPONSIVITY (temp) ------ //

// Medium
@media only screen and (max-width: $mediumBreak) {}

// Small
@media only screen and (max-width: $smallBreak) {}





// ------ HELPER CLASSES ------ //

.hide { display: none; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }

.tfx, a {
  -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s;
  -ms-transition: all 0.3s; transition: all 0.3s;
}




// ------ UI ELEMENTS ------ //

.button {
	font-weight: bold; text-decoration: none; color: inherit;
	display: inline-block; padding: 0.7rem 1.2rem;
	border: 3px solid $primary; border-radius: $borderRadius;
	&:hover { background: $primary; color: $white; }
	&.tiny { padding: 0.3rem 0.7rem; font-size: 0.65rem; }
	&.small { padding: 0.5rem 0.95rem; font-size: 0.825rem; }
	&.large { padding: 0.9rem 1.45rem; font-size: 1.125rem; }
	&.huge { padding: 1.1rem 1.9rem; font-size: 1.35rem; }
	&.expand { width: 100%; }
}