@import url(normalize.css);
@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans:400,700,400italic&subset=latin,latin-ext);
/*! BRICKst v1.0.0 | GNU GPL License | allienworks.net */
* {
  box-sizing: border-box; }

html {
  font-size: 16px; }

body {
  font-family: "Alegreya Sans", sans-serif; }

.row {
  max-width: 64rem;
  margin: 0 auto; }
  .row:after {
    clear: both;
    content: " ";
    display: table; }
  .row.expand {
    max-width: 100%; }
  .row.collapse .column {
    padding: 0; }

.columns {
  float: left;
  width: 100%;
  padding: 0 1.5rem; }
  .columns.end {
    float: right; }

.large-11 {
  width: 91.74312%; }

.large-10 {
  width: 83.33333%; }

.large-9 {
  width: 75.18797%; }

.large-8 {
  width: 66.66667%; }

.large-7 {
  width: 58.47953%; }

.large-6 {
  width: 50%; }

.large-5 {
  width: 41.66667%; }

.large-4 {
  width: 33.33333%; }

.large-3 {
  width: 25%; }

.large-2 {
  width: 16.66667%; }

.large-1 {
  width: 8.33333%; }

.hide {
  display: none; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.button {
  font-weight: bold;
  text-decoration: none;
  color: inherit;
  display: inline-block;
  padding: 0.7rem 1.2rem;
  border: 3px solid #393839;
  border-radius: 4px; }
  .button:hover {
    background: #393839;
    color: white; }
  .button.tiny {
    padding: 0.3rem 0.7rem;
    font-size: 0.65rem; }
  .button.small {
    padding: 0.5rem 0.95rem;
    font-size: 0.825rem; }
  .button.large {
    padding: 0.9rem 1.45rem;
    font-size: 1.125rem; }
  .button.huge {
    padding: 1.1rem 1.9rem;
    font-size: 1.35rem; }
