// -----------------[ CONFIG ]----------------- //

$bg: #333;
$bg-hover: #444;

$off-canvas-break: m; // breakpoint for off-canvas trigger
$off-canvas-width: 70%;

// ------------------[ BASE ]------------------ //

html {
  font-size: 16px;
}
body {
  color: #333;
	position: relative;
	width: 100%; min-width: 20rem; // 320px
	background: $bg;
}

ul, ol {
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0;
}

a {
  text-decoration: none;
}


// -----------------[ LAYOUT ]----------------- //

.sidebar {
  @include break($off-canvas-break) {
    float: left; width: 30%;
  }
}

#main {
  @include break($off-canvas-break) {
    float: left; width: 65%; margin-left: 5%;
  }
}


// -----------[ OFF-CANVAS WRAPPER ]----------- //

#outer-wrap { // wrapper for the whole page
	position: relative; overflow: hidden;
	width: 100%;
}
#inner-wrap {
  position: relative;
  width: 100%;
  .js-ready & { left: 0; }
  .js-nav & { left: $off-canvas-width; }
  .csstransforms3d.csstransitions.js-ready & {
    left: 0 !important;
		transform: translate3d(0,0,0);
		transition: transform 500ms ease;
		backface-visibility: hidden;
  }
  .csstransforms3d.csstransitions.js-nav & {
    transform: translate3d($off-canvas-width,0,0) scale3d(1,1,1);
    @include break($off-canvas-break) { transform: none; transition: none; }
  }
}

.nav-btn,
.close-btn { // off-canvas control buttons
	display: block; width: 2.625rem; height: 2.25rem; padding: 0;
	background-size: 1.875rem 1.875rem; border: 0;
	text-indent: 100%;
	overflow: hidden;	white-space: nowrap;
	outline: none; -webkit-tap-highlight-color: rgba(0,0,0,0);
	&:hover,
	&:focus { opacity: 1; }
}


// -----------------[ HEADER ]----------------- //

#top { // site header (title and menu button on mobile)
  position: relative; z-index: 100;
	color: #fff;
  background: $bg;
  padding: 1.5rem 1rem;
  .block-title {
		margin: 0;
		font-size: pem(30); line-height: pem(36, 30); text-align: center; white-space: nowrap;
	}
  .nav-btn { // off-canvas open button
    position: absolute; top: pem(24); left: pem(30);
    background: $bg url("../img/nav-icon.svg") left center no-repeat;
    opacity: 0.7;
    // fallback for browsers not supporting SVG
    .no-svg & { background-image: url("../img/nav-icon.png"); }
    @include break($off-canvas-break) { @include visuallyhidden; }
  }
}


// ---------------[ NAVIGATION ]--------------- //

#nav { // menu
	position: absolute; top: 0; z-index: 200;
	overflow: hidden;
	width: 100%; padding-top: pem(84);
	color: #fff;
  background: $bg;
  @include break($off-canvas-break) { position: relative; padding-top: 0; }
  &:not(:target) {
    z-index: 1; height: 0;
    @include break($off-canvas-break) { height: auto; }
  }
  &:target {
    .close-btn { display: block; }
  }
  .js-ready & {
		width: $off-canvas-width; height: 100%;
		left: (0 - $off-canvas-width);
		background: $bg; box-shadow: inset pem(-24) 0 pem(24) pem(-12) rgba(0,0,0, 0.25);
    @include break($off-canvas-break) {
      width: auto; height: auto;
      left: auto;
      box-shadow: none;
    }
    .block { background: transparent; }
		.close-btn {
			display: block;
      opacity: 0.7;
			&:focus,
			&:hover { opacity: 1; }
		}
  }
  .csstransforms3d.csstransitions.js-ready & {
    left: 0;
		transform: translate3d(-100%,0,0);
    backface-visibility: hidden;
    @include break($off-canvas-break) { transform: translate3d(0,0,0); }
    .block {
			opacity: 0.7;
			transition: opacity 300ms 100ms ease, transform 500ms ease;
			transform: translate3d($off-canvas-width,0,0) scale3d(0.9,0.9,0.9);
      transform-origin: 50%, 0%;
      @include break($off-canvas-break) {
        opacity: 1;
        transform: translate3d(0,0,0) scale3d(1,1,1);
        transition: none;
      }
		}
  }
  .csstransforms3d.csstransitions.js-nav & {
    .block {
			opacity: 1;
      transform: translate3d(0,0,0);
      @include break($off-canvas-break) {}
		}
  }

  .close-btn { // off-canvas close button
    background: $bg url("../img/close-btn.svg") left center no-repeat; 
    position: absolute; top: pem(-60); left: pem(30);
    opacity: 1;
    @include break($off-canvas-break) { @include visuallyhidden; }
    // fallback for browsers not supporting SVG
    .no-svg & { background-image: url("../img/close-btn.png"); }
  }

  .block { // menu content
		position: relative;
		padding: 0;
    .block-title { @include visuallyhidden; }
    .section { // e.g. text content in the sidebar/menu
      padding: pem(12, 14) pem(30, 14);
    }

    ul {
      @include clearfix;
      display: block;
    }
    li {
      display: block;
      position: relative;
      border-top: 1px solid rgba(255,255,255, 0.1);
      &:last-child {
        border-bottom: 1px solid rgba(255,255,255, 0.1);
      }
      &.is-active:after {
        content: "";
        display: block; margin-top: pem(-10);
        position: absolute; top: 50%; right: pem(-0.5); z-index: 50;
        border-top: pem(10) transparent solid;
        border-bottom: pem(10) transparent solid;
        border-right: pem(10) #fff solid;
      }
      a {
        display: block; padding: pem(12, 14) pem(30, 14);
        color: #ccc;
        outline: none;
        &:focus,
        &:hover { color: #fff; background: $bg-hover; }
      }
    }
	}
}


// --------------[ MAIN CONTENT ]-------------- //

#main { // main content
	background: #fff;
	.block {
		padding: pem(42) pem(30);
	}
}


// -----------------[ FOOTER ]----------------- //

footer[role="contentinfo"] {
	background: #ddd;
}