// ------------------[ BASE ]------------------ //

body {
  position: relative;
  width: 100%; min-width: 20rem; // 320px
  background: $offcanvas-bg;
}

#nav ul {
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0;
}


// -----------------[ LAYOUT ]----------------- //

.sidebar {
  @include break($offcanvas-break) {
    float: left; width: 30%;
  }
}

#main {
  @include break($offcanvas-break) {
    float: left; width: 65%; margin-left: 5%;
  }
}


// -----------[ OFF-CANVAS WRAPPER ]----------- //

#outer-wrap { // wrapper for the whole page
  position: relative; overflow: hidden;
  width: 100%;
}
#inner-wrap {
  position: relative;
  width: 100%;
  .js-ready & { left: 0; }
  .js-nav & { left: $offcanvas-width; }
  .csstransforms3d.csstransitions.js-ready & {
    left: 0 !important;
    transform: translate3d(0,0,0);
    transition: transform 500ms ease;
    backface-visibility: hidden;
  }
  .csstransforms3d.csstransitions.js-nav & {
    transform: translate3d($offcanvas-width,0,0) scale3d(1,1,1);
    @include break($offcanvas-break) { transform: none; transition: none; }
  }
}

.nav-btn,
.close-btn { // off-canvas control buttons
  display: block; width: 2.625rem; height: 2.25rem; padding: 0;
  background-size: 1.875rem 1.875rem; border: 0;
  text-indent: 100%;
  overflow: hidden; white-space: nowrap;
  outline: none; -webkit-tap-highlight-color: rgba($color-black, 0);
  &:hover,
  &:focus { opacity: 1; }
}


// -----------------[ HEADER ]----------------- //

#top { // site header (title and menu button on mobile)
  position: relative; z-index: 100;
  color: $color-white; text-align: center;
  background: $offcanvas-bg;
  height: 3.6rem; padding: 1rem 1rem;
  a.site-title {
    display: inline-block; margin: 0;
    font-size: 1.1rem; line-height: 1.5; color: $bg; text-transform: uppercase;
    white-space: nowrap;
  }
  .nav-btn { // off-canvas open button
    position: absolute; top: 0.7rem; left: 1.4rem;
    background: $offcanvas-bg url("../img/nav-icon.svg") left center no-repeat;
    opacity: 0.7;
    // fallback for browsers not supporting SVG
    .no-svg & { background-image: url("../img/nav-icon.png"); }
    @include break($offcanvas-break) { @include visuallyhidden; }
  }
}


// ---------------[ NAVIGATION ]--------------- //

#nav { // menu
  position: absolute; top: 0; z-index: 200;
  overflow: hidden;
  width: 100%; padding-top: 3.6rem;
  color: $color-white;
  background: $offcanvas-bg;
  @include break($offcanvas-break) { position: relative; padding-top: 0; }
  &:not(:target) {
    z-index: 1; height: 0;
    @include break($offcanvas-break) { height: auto; }
  }
  &:target {
    .close-btn { display: block; }
  }
  .js-ready & {
    width: $offcanvas-width; height: 100%;
    left: (0 - $offcanvas-width);
    background: $offcanvas-bg; box-shadow: inset pem(-24) 0 pem(24) pem(-12) rgba($color-black, 0.25);
    @include break($offcanvas-break) {
      width: auto; height: auto;
      left: auto;
      box-shadow: none;
    }
    .block { background: transparent; }
    .close-btn {
      display: block;
      opacity: 0.7;
      &:focus,
      &:hover { opacity: 1; }
    }
  }
  .csstransforms3d.csstransitions.js-ready & {
    left: 0;
    transform: translate3d(-100%,0,0);
    backface-visibility: hidden;
    @include break($offcanvas-break) { transform: translate3d(0,0,0); }
    .block {
      opacity: 0.7;
      transition: opacity 300ms 100ms ease, transform 500ms ease;
      transform: translate3d($offcanvas-width,0,0) scale3d(0.9,0.9,0.9);
      transform-origin: 50%, 0%;
      @include break($offcanvas-break) {
        opacity: 1;
        transform: translate3d(0,0,0) scale3d(1,1,1);
        transition: none;
      }
    }
  }
  .csstransforms3d.csstransitions.js-nav & {
    .block {
      opacity: 1;
      transform: translate3d(0,0,0);
      @include break($offcanvas-break) {}
    }
  }

  .close-btn { // off-canvas close button
    background: $offcanvas-bg url("../img/close-btn.svg") left center no-repeat; 
    position: absolute; top: -2.9rem; left: 1.4rem;
    opacity: 1;
    @include break($offcanvas-break) { @include visuallyhidden; }
    // fallback for browsers not supporting SVG
    .no-svg & { background-image: url("../img/close-btn.png"); }
  }

  .block { // menu content
    position: relative;
    padding: 0;
    .block-title { @include visuallyhidden; }
    .section { // e.g. text content in the sidebar/menu
      padding: 1.7rem 1.5rem;
    }

    ul {
      @include clearfix;
      display: block;
    }
    li {
      display: block;
      position: relative;
      border-top: 1px solid rgba(255,255,255, 0.1);
      &:last-child {
        border-bottom: 1px solid rgba(255,255,255, 0.1);
      }
      &.is-active:after {
        content: "";
        display: block; margin-top: pem(-10);
        position: absolute; top: 50%; right: pem(-0.5); z-index: 50;
        border-top: pem(10) transparent solid;
        border-bottom: pem(10) transparent solid;
        border-right: pem(10) $color-white solid;
      }
      a {
        display: block; padding: 0.8rem 1.5rem;
        color: $color-white;
        outline: none;
        &:focus,
        &:hover { background: $offcanvas-bg-hover; }
      }
    }
  }
}


// --------------[ MAIN CONTENT ]-------------- //

#main { // main content
  background: $color-white;
  .block {
    padding: pem(42) pem(30);
  }
}


// -----------------[ FOOTER ]----------------- //

footer[role="contentinfo"] {
  background: $bg;
}